@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #f2f3f7;
  font-family: "Poppins", sans-serif;
}

.animate-floating {
  animation: floating 3s infinite;
}

@keyframes floating {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(5px);
  }
}
.weekdayContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.customSelect .react-select__option {
  font-size: 26px;
}
.InputContainer {
  display: flex;
  flex-direction: column;
}

.InputBaseInput {
  font-size: medium;
  padding: 9px;
  border-radius: 4px;
  outline-color: #2684ff;
  border: solid 1px #cccccc;
}
.filtersContainer {
  display: "flex";
  justify-content: center;
  margin: "5px";
  gap: "5px";
  width: "100%";
}

.noDataText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
